*{
  padding: 0;
  margin:0;
}

body{
  background-image: url(../img/background.jpg);
  background-size: cover;
  font-family: IRANSansWeb;
}

@font-face {
    font-family:'IRANSansWeb';/*تعریف یک نام برای فونت*/
    src:url('../fonts/IRANSansWeb.ttf');/*اکسپلورر 9 به بعد*/
    src:local('IRANSansWeb'),/*بررسی نصب بودن فونت در سیستم کاربر*/
        local('IRANSansWeb'),/*برای برخی از مرورگرها مانند سافاری*/
        url('../fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),/*هک برای اکسپلورر 8 و ماقبل*/
        url('../fonts/IRANSansWeb.woff') format('woff'),/*مرورگر های جدید*/
        url('../fonts/IRANSansWeb.ttf') format('truetype'),/*تمام مرورگرها به جزء اکسپلورر*/
        url('../fonts/IRANSansWeb.svg#BYekan') format('svg');/*نسخه های قدیمی سیستم عامل iOS*/
    font-style:normal;
    font-weight:normal;
  }
  .contain{
    margin-top:200px;
    background-color:#C8C9CD;
    padding:20px;
    border-radius: 10px
  }
  .box{
    background-color:white;
    padding:40px;
    border-radius: 8px;
  }
  .box label{
    text-align: center;
  }
  .intro{
    text-align: center;
  }
  input[type="submit"]{
    padding: 10px;
    border-radius: 8px;
    border:1px solid red;
    margin-top:20px;
    width: 100%;
  }
  .box h1{
    margin-bottom: 20px;
  }
